@{
    ViewBag.Title = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<div class="jumbotron">
    
    <h1 class="title">Athena's Spider</h1>
    <p class="lead libre">A custom embroidery shop.</p> 
     @Html.ActionLink("Latest Works", "Index", "Product", null, new { @class = "btn btn-outline-light libre" })
</div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
