@{

    ViewBag.Title = "Register";

}
@if (ViewBag.Errors != null)

{

    foreach (string s in (IEnumerable<string>)ViewBag.Errors)

    {

        <div>Error: @s</div>

    }

}
@using (Html.BeginForm())

{

    <div class="jumbotron libre form-group">
        <div>
        <label for="username">Username </label>
        <input name="username" type="text" />
    </div>
        <div>
        <label for="password">Password </label>
        <input name="password" type="password" />
    </div>

    <div>
        <label for="firstname">First Name</label>
        <input name="firstname" type="text" />
    </div>

    <div >
        <label for="lastname">Last Name</label>
        <input name="lastname" type="text" />
    </div>
        <div>
            <input type="submit" value="Create Account" />
        </div>
        </div>
}