@{

    ViewBag.Title = "Register";

}
@if (ViewBag.Errors != null)

{

    foreach (string s in (IEnumerable<string>)ViewBag.Errors)

    {

        <div>Error: @s</div>

    }

}
@using (Html.BeginForm())

{

    <div>
        <label for="username">Username</label>
        <input name="username" type="text" />
    </div>

    <div>
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>

    <div>
        <label for="firstname">First Name</label>
        <input name="firstname" type="text" />
    </div>

    <div>
        <label for="lastname">Last Name</label>
        <input name="lastname" type="text" />
    </div>

    <div>
        <label for="dateofbirth">Date Of Birth</label>
        <input name="dateofbirth" type="date" />
    </div>

    <input type="submit" value="Create Account" />

}