
@{
    ViewBag.Title = "ResetPassword";
}
<div class="row">
    @if (ViewBag.Errors != null)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>Enter your new password</p>
        <div class="form-group jumbotron libre">
            <label for="password" class="control-label">Password</label>
            @Html.Password("password", "", new { @class = "form-control", placeholder = "password" })
        </div>
        <input type="submit" value="Change Password" class="btn btn-default" />
    }
</div>