
@model IEnumerable<AthenasSpider.Models.ProductModel>
@{
    ViewBag.Title = "Index";


}

<h2>@ViewData[ "Products"]</h2>
<div class="card-deck">
    @foreach (var product in Model)
    {

        <div class="card">
            <img class="card-img-top" src= "@product.ImageUrl" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">@product.Item</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">@product.Price</small>
            </div>
        </div>


    }
</div>

